/* font*/
body{
	font-family: 'Roboto', sans-serif;
}


/* Temafärg*/
.färg{
	color:#E80C94; 
}
/* Temafärg för navbar*/
.navbartext:hover{
	color: #E80C94;
}
/* Tema färg för knapp*/
.knapp{
	margin-right: 10px;
	background-color: #E80C94;
	color: white;
}


.stortext{
	font-size: 70px;

}
.navbartext{
	font-size: 30px;
	color: black;
}
.mellan{
	margin-left: 30px;
}
.footer {
	position:relative;
	bottom:0;
	width:100%;
	background:lightgrey;

}
.footertext{
	margin: 0;
}
.fa-facebook{
	color:blue;
}
.fa-instagram{
	color:purple;
}
.bildspel{
	margin-left: 10px;
	margin-top: 10px;
}
.maindiv{
	margin-top: 20px;
}
.knapptext{
	color: white;
}
.bilderkontakt{
	min-width: 120px;
}
.rowkontakt{
	margin:10px;
}
.kontakttext{
	font-size: 20px;

}
.iframeresp{
	height: 500px;
	width: 100%;
	
}
.minnav{
	min-width:450px;
}
.bildspel2{
	min-width:400px;
}
.artiklar{
	margin: 10px;
}
.bildspelstorlek{
	max-width: 500px;
}
html{
	overflow-x:hidden;
}
.title{
	font-size: 30px;
	color: black; 
}



.quiz{
	padding: 20px;
	border:solid;
	min-width: 220px;
	background-color: lightpink;
	margin-top: 5px;
	margin-bottom: 20px;
}
.btn1{
	margin-left: 25px;
	margin: auto;

}
.lable{
	font-size: 25px;
}
.stats{ margin-top: 20px; }

.kommentarer{
	margin-bottom: 20px;
}
.link{
	font-weight: bold;
}
.mapouter{position:relative;text-align:right;max-height:500px;max-width:600px;}
.gmap_canvas {overflow:hidden;background:none!important;max-height:500px;max-width:600px;}
.iframe1{
	width: 100%;
	height: 500px;
}