.stortext{
	 font-size: 80px;
}
.navbartext{
	font-size: 30px;
	color: black;
}
.navbartext:hover{
	color:red;
}
.mellan{
	margin-left: 30px;
}
.footer {
   position:relative;
   bottom:0;
   width:100%;
   background:lightgrey;

}
.footertext{
	margin: 0;
}
.fa-facebook{
	color:blue;
}
.fa-instagram{
	color:purple;
}
.bildspel{
	width: 40%;
	margin-left: 10px;
	margin-top: 10px;
}